.fondo_azul
  background: #E6F7FF

.fondo_amarillo
  background: lighten($color-acento-contenido, 15%)

.texto-azul
  color: $color-sistema-texto !important

.amarillo
  color: $color-acento-contenido !important

.cyan
  color: #1565C0 !important
  
.max75
  max-width: 75%

._50px
  width: 10em !important

@media screen and ( max-width: 991px )
  .max75
    width: 200px !important

@media screen and ( max-width: 1199px )
  .col-lg-8
    width: 100% !important
  
  