.fondo_azul
  background: lighten($color-secundario, 20%)

.texto-azul
  color: $color-sistema-texto !important

.amarillo
  color: $color-acento-contenido !important

.cyan
  color: #1565C0 !important
  